header {
  background-color: #F15B31;
  color: #FFF;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

nav {
  background-color: #00A6B3;
  color: #FFF;
  padding: 5px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  margin: 0;
}

p {
  font-family: "Droid Serif", serif;
  margin-left: 25px;
  margin-right: 25px;
  text-align: justify;
}

body {
  text-align: center;
  margin: 0;
  height: 100%;
  margin-bottom: 100px;
  min-height: 400px;
}

main {
  align: center;
  width: 850px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
  margin-right: auto;
}

a {
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 2px solid transparent;
  text-decoration: none;
  color: white;
}

a:hover {
  color: black

}

img {
  margin-top: 40px;
  margin-left: 8px;
  margin-right: 8px;
}

footer {
  text-transform: uppercase;
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #0D2C40;
  color: white;
  font-size: 20px;
  font-weight: 500;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.copyright {
  float: left;
  font-family: "Raleway", sans-serif;
}

.message {
  float: right;
  font-family: "Raleway", sans-serif;
  padding-right: 20px;
}

.name {
  color: #F15B31;
  font-weight: 700;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.wrapper{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-auto-rows:minmax(100px, auto);
  grid-gap:1em;
  justify-items:stretch;
  align-items:stretch;
}


.myButton {
  margin-top: 30px;
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:32px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}
